body {
  background-color: #EDE6E3;
}
H3 {
  background-color: #EF6F6C;
  font-size: 20px;
}
.fullname {
background-color: #EF6F6C;
}

.profilepic {
  height: 120px;
  margin-right: 00px;
  margin-top: 30px;
}

{
  text-decoration-color: #36382E;
}
.caffine {
  float: right;
  height: 100px;
  margin-right: 10px;
  margin-top: 20px;
}
.Oprah {
  float: left;
  height: 120px;
  margin-right: 10px;
  margin-top: 20px;
}
H1 {
  border-bottom:
}
